ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10ff53;
}

body {
    background-color: purple;
}

th {
    background-color: #10ff53;
    color: red;
}

table {
    background-color: #343135;
}

li {
    float: left;
}

    li a {
        display: block;
        color: red;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }



.p-div {
    background-color: #666;
}

p {
    color: red;
}

li a:hover {
    background-color: #8114ba;
}


table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid red;
    padding: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    color: red;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', 'sans-serif';
}

td {
    background-color: red;
    border: 1px solid red;
}

th,
td {
    font-weight: bold;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
    color: red;
}

.admin_sec {
    background-color: #343135;
    padding: 15px;
    margin: 5px;
}

.add_sec {
    padding: 5px;
    background-color: red;
}

.delete_btn {
    color: red;
    background-color: #10ff53;
}

.login_navbtn {
    float: right;
}

.select_label {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.select_dropdown {
    text-align: center;
    text-decoration: none;
}

.details_btn {
    margin: 5px;
    background-color: #5f00a3;
    color: red;
}

input {
    background-color: #343135;
    color: red;
}
